 
.loginbox {
    padding-top: 100px ;
    width: 430px;
    height: 500px;
    background: #272E48;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px
}
 
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}
 
h4 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px
}
 
.loginbox p {
    
    margin: 0;
    padding: 0;
    font-weight: bold
}
 
.loginbox input {
    width: 100%;
    margin-bottom: 20px
}
 
.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px
}
 
.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #99999c;
    color: #fff;
    font-size: 18px;
    border-radius: 20px
}
 
.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #0e60db;
    color: #000
}
 
.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey
   
}
 
.loginbox a:hover {
    color: #ffc107
}
 
#cardcol{
    background-color: #fff;
}
 
 
ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#0a2e7a; /* you can change the backgorund color here. */
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
ul.nav li {
    border-right:1px solid #189b80; /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#ccece6;
    font-weight: bold;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#1412b6;
}
 
#cardcol1{
    background-color: rgb(9, 13, 56);
}
 
#profileimg {
    border: 5px solid #6080e7;
  }
 
  #dashh5{
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }