.body {
    background: url(../images/dima.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  html,
body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}



.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px
}

.frame {
    height: 900px;
    width: 630px;background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95)), url(../images/dima.jpg) no-repeat center center;
    
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s ease
}

.frame-long {
    height: 615px
}

.frame-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1)
}

.nav {
    width: 100%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    transition: all .5s ease
}

/* .nav-up {
    transform: translateY(-100px);
    opacity: 0
} */

.li {
    padding-left: 10px;
    font-size: 18px;
    display: inline;
    text-align: left;
    text-transform: uppercase;
    padding-right: 10px;
    color: #ffffff
}

.signin-active a {
    padding-bottom: 10px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: solid 2px #1059FF;
    transition: all .25s ease;
    cursor: pointer
}

.signin-inactive a {
    padding-bottom: 0;
    color: rgba(255, 255, 255, .3);
    text-decoration: none;
    border-bottom: none;
    cursor: pointer
}



.form-signin {
    width: 630px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    transition: opacity .5s ease, transform .5s ease
}

.form-signin-left {
    transform: translateX(-400px);
    opacity: .0
}



.form-signin input,
.form-signup input {
    color: black;
    font-size: 13px
}

.form-styling {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
    color: white
}

.label {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 15px;
    padding-bottom: 10px;
    color: white;
    display: block
}

:focus {
    outline: none
}

.form-signin input:focus,
textarea:focus,
.form-signup input:focus,
textarea:focus {
    background: rgba(255, 255, 255, .3);
    border: none;
    padding-right: 40px;
    transition: background .5s ease
}



.btn-signin {
    color: #ffffff;
    float: left;
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    margin-top: -8px
}

.btn-sign {
    color: #ffffff;
    float: left;
    padding-top: 8px;
    width:100%;
    height: 35px;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    margin-top: -8px
}

.btn-animate {
    float: center;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: 23px;
    background-color: #0f57fff1;
    left: 0px;
    top: 0px;
}

.btn-animate-grow {
    width: 130%;
    height: 625px;
    position: relative;
    left: -55px;
    top: -420px;
    color: white;
    background-color: rgba(255, 255, 255, 1)
}

a.btn-signup:hover,
a.btn-signin:hover {
    cursor: pointer;
    color: white;
    background-color: red;
    transition: background-color .5s
}

.btn-animate:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color .5s
}

.forgot {
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 24px;
    margin-top: -535px;
    border-top: solid 1px rgba(255, 255, 255, .3);
    transition: all 0.5s ease
}



.h1 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 300;
    text-align: center
}



.frame1 {
    height: 575px;
    width: 430px;
    background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95)), url(../images/dima.jpg) no-repeat center center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 1px rgba(255, 255, 255, .5);
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .5s ease
}

.frame1-long {
    height: 615px
}

.frame1-short {
    height: 400px;
    margin-top: 50px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1)
}

.form1-styling1 {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2)
}

.form1-signin1 {
    width: 430px;
    height: 375px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 55px;
    transition: opacity .5s ease, transform .5s ease
}

.f {
    
    background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95)), no-repeat center center;
}

.bod{
    text-align: left;
    color: #bcd0f7;
    background: #1A233A;    
}
.main-body {
    padding: 15px;
}
.cardd {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.cardd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #272E48;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.car {
    background: #272E48;
}


.cardd-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.col-2 {width: 16.66%;}

.aabb{
    font-size: small;
    color: white;
}

.wrapper{
    max-height: 475px;
    padding-left: 50px;
    overflow-x: auto;
    border: 1px black;
}

.wrapper::-webkit-scrollbar {
    width: 20px;
}

.wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: rgb(11, 126, 219); 
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
    background: #0448b8; 
  }

.card__image {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #1A233A;
    margin-top: 20px;
    box-shadow: 0 20px 50px rgba(235, 25, 110, 1);
  }

.cardwl {
    background: #272E48;
    height: 27rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: white;
  }

  #aax {
    background: #93a9f8;
  }

  #bbx{
    background: #1A233A
  }


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    
  }
  
  .btnppp {
    
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 4px 20px;
    border-radius: 8px;
    font-size: 15px;
    transition-duration: 0.4s;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-btn-wrapper:hover {
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .btnppp:hover {
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  #profileimg {
    border: 2px solid white;
  }

