.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
input:not(:placeholder-shown):invalid{
  border: 3px solid red;
  border-radius: 4px;
};
@import url('http://fonts.googleapis.com/css?family=Lato&display=swap');
 
* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.dashBoard,
.admin,
.inventory,
.payment,
.discount,
.delivery,
.advertisement,
.request,
.feedback {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
 
body{
  background-color: #e6f2ff;
};
 
 

input:not(:placeholder-shown):invalid{

  background-color:pink;

  box-shadow:0 0 0 2px red;

};



#cardcol{

  background-color: #fff;
  color: #bcd0f7;

  background: #1A233A;    

}
